doctype html

html(lang="en-US")

  head
    title Activity Tracker
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body.center
    header
      h3= err.message

    main
      div
       h3 Meow.....
      div
        <img src="/images/404_not_found.png" alt="Cat Error Image">