doctype html

html(lang="en-US")

  head
    title Activity Tracker
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    main.center 
      div
       h3 You've successfully created your account. Yay! 
      div
        img.successCat(src="/images/cat-thumbs-up.svg" alt="Cat Thumbs Up Image")
      div 
        a(href="/activities/page/1") Click here to go to your home page and start adding activities  